.background{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(49,49,49,0.8);
    z-index: 2;
}
/*  */
.cart{
    margin-bottom: 50px;
width: 550px;
height: 300px;
background: white;
position: fixed;
top: 45%;
left: 70%;
transform: translate(-50%, -50%);
z-index: 100;
border-radius: 10px;
padding: 20px;
overflow: auto;


}
.wholecont{
    display: flex;
    align-items: center;
   justify-content: flex-start;
   scroll-snap-type: y mandatory;
}

.kalata{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
   

    

   
}

.kalata button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    font-size: 24px;
}
.singleproduct{
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
  
   background: rgb(255, 255, 255);
   border-top: 1px solid rgb(174, 174, 174);
  
}

.singlepnj{
    width: 30px;
}

.pprices span{
  font-size: 14px;
 
 
}

.ptitle{
    text-align: center;
}

.new{
    font-weight: 600;
}

.prew{
    text-decoration: line-through;
}

.count{
 
    border: 1px solid rgb(182, 181, 181);
    border-radius: 20px;
}

 .countinpt{
    
    width: 30px;
   text-align: center;
   font-weight: 600;
   border: none;
 }

 .count button{
    width: 20px;
    margin: 5px;
    border: none;
    background: none;
   
   
 }

 .checkout{
  
   border-top: 1px solid black;
    width:100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
 }

 .checkout button{
    padding: 14px 40px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
 }

